<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @produc.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @produc.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @produc.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @produc.price %>
</p>

<%= link_to 'Edit', edit_produc_path(@produc) %> |
<%= link_to 'Back', producs_path %>
